/* Box Model fix */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Float fix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* Other styles */


